.root {
    width: 90%;
    padding: 10px;
}

.images {
    max-height: calc(100vh - 260px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}